{% extends 'baseNew.html.twig' %}

{% block main %}
    {{ form_start(form) }}
    {{ form_row(form.services) }}
    <button type="submit">Register for a visit!</button>
    {{ form_end(form) }}
{% endblock %}
