{% extends 'base.html.twig' %}


{% block main %}
    {{ form_start(forma) }}
    {{ form_row(forma.plainPassword.first) }}
    {{ form_row(forma.plainPassword.second) }}
    <button type="submit">Change Password!</button>
    {{ form_end(forma) }}
{% endblock %}
