{% extends 'baseNew.html.twig' %}



{% block main %}
    {{ form_start(form) }}
    {{ form_row(form.email) }}
    <button type="submit" class="btn btn-primary">Reset password!</button>
    {% if action == false %}
        <h4>Your email has not been found in our database...</h4>
    {% else %}
        <h4>Reset email sent!</h4>
    {% endif %}
    {{ form_end(form) }}
{% endblock %}
