{% extends 'baseNew.html.twig' %}



{% block main %}
    {{ form_start(form) }}
    {{ form_row(form.email) }}
    <button type="submit">Reset Password!</button>
        <div class="flash-notice">
            {{ app.flashes('notice')[0] }}
        </div>
    {{ form_end(form) }}
{% endblock %}