{% extends 'baseNew.html.twig' %}

{% block main %}

    {{ form_start(form) }}
    {{ form_row(form.car_id) }}
    {{ form_row(form.date) }}

    <button type="submit">Register for a visit!</button>
    {{ form_end(form) }}
{% endblock %}
